{% extends 'layout.html.twig' %}

{% block title %}Création commentaire - {{ parent() }}{% endblock %}

{% block innerContent %}
    <h3>Ajouter un commentaire</h3>

    {{ include('commentaire/_form.html.twig') }}

    <a href="{{ path('myblog_article_show', { idArticle:article.id}) }}">Retour en arrière</a>
{% endblock %}
